.main_btn{

  background-color:var(--light-green) ;
  color: white;
  width: fit-content;
  height: 40px;
  text-align: center;
  align-content: center;
  border-radius: 8px;
  transition: .3s all;
  display: block;
}


.main_btn:hover{

  background-color: #fff;
  color: var(--light-green);
}

.main-app {
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 100vh;
  position: relative;
  top: 0;
}
.side-bar {
  background-color: var(--dark-green);
  border-right: 1px solid var(--color-border);
  /* height: 100vh; */
  height: calc(100vh - 30px);
  width: 300px;
  border-radius: 0px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  transition: all 0.3s linear;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
}

.bar-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.bar-header .logo a,
.bar-header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.logo a img {
  transition: none;
  max-width: 100%;
  height: auto;
}


.lisks-side-bar {
  display: flex;
  gap: 10px;
  /* margin: 45px 0 0 0; */
  height: 100%;
  overflow: auto;
  padding: 10px 0;
}
.lisks-side-bar ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  align-items: center;
  
}
.lisks-side-bar ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  width: 100%;
  transition: all 0.3s linear;
  
}
.lisks-side-bar ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  font-size: 19px;
  width: 100%;
  /* height: 55px; */
  height: 45px;
  padding: 0 25px;
  border-radius: 15px;
  transition: all 0.3s linear;
  position: relative;
}
/* .lisks-side-bar ul li a:hover,
.lisks-side-bar ul li a.active {
  background-color: var(--color-white);
  color: var(--color-primary);
} */
.lisks-side-bar ul li a img {
  width: 29px;
  height: 29px;
  transition: all 0.3s linear;
}



/* .lisks-side-bar ul li a::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 100%;
  right: -50px;
  border-radius: 11px 0 0 11px;
  background-color: #fff;
  transition: .3s all ease-in;
}


.lisks-side-bar ul li a:hover::after{
  right: -20px;
} */




/* .lisks-side-bar ul li a:hover img,
.lisks-side-bar ul li a.active img {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(100%);
  transition: all 0.3s linear;
}


.lisks-side-bar ul li a:hover svg path,
 .lisks-side-bar ul li a.active svg path{
  fill: #fff;
  fill-opacity: 1;
 } */
.nav-toggle-dots,
.nav-toggle {
  position: absolute;
  left: 15px;
  top: 40px;
  cursor: pointer;
  transform: scale(-1);
}

.nav-toggle-dots.minimize,
.nav-toggle.minimize {
  position: relative;
  top: unset;
  transform: scale(1);
}
.nav-toggle-dots ul,
.nav-toggle ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav-toggle-dots ul li,
.nav-toggle ul li {
  width: 30px;
  height: 3px;
  background-color: var(--color-white);
  display: block;
  border-radius: 25px;
  transition: all 0.3s linear;
}

.nav-toggle ul li:nth-child(1),
.nav-toggle ul li:nth-child(3) {
  width: 10px;
}
.nav-toggle ul li:nth-child(2) {
  width: 30px;
}

.nav-toggle:hover ul li {
  width: 30px;
}

.nav-toggle-dots ul li {
  width: 5px;
  height: 5px;
}

.top-bar.top-minimize .nav-toggle-dots ul li,
.top-bar.top-minimize .nav-toggle ul li {
  background-color: #fff;
}

.sidebar-bottom {
  height: 30%;
}
.sidebar-bottom .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
}
.sidebar-bottom .image img:last-child {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  }










.lisks-side-bar ul li {
    transition: .5s;
}
.lisks-side-bar ul li:not(:first-child) {
    opacity: .5;
}
.lisks-side-bar ul li:hover {
    opacity: 1;
}
.lisks-side-bar ul li.active {
  background-color: var(--light-green);
  border-radius: 10px;
}

.top-content .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.top-content .info .image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.top-content .info .image .caption h5 {
  font-size: 16px;
}
.top-content .info .image .caption p {
  font-size: 10px;
}
.top-content .info .icons {
    display: flex;
    gap: 5px;
}
.top-content .info .icons button.notification {
  display: none;
}
.top-content .info .icons img {
    width: 30px;
    height: 30px;
    background-color: var(--light-green);
    border-radius: 5px;
    padding: 5px;
}
.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.top-content .title {
  color: var(--dark-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-content .title h2 {
  font-size: 25px;
  font-weight: 700;
}

/*! ************************ Section Train ************************ */
.container.train {
    overflow: hidden;
    position: relative;
    margin-block: 10px;
}
/* .container.train::before {
    content: "";
    width: 2000px;
    height: 20px;
    background-image: url("../assets/images/Frame.svg");
    background-position: 0 0;
    position: absolute;
    left: -103%;
    transform: rotate(139deg) translateX(0);
    animation: bg-train2 20s linear infinite;
} */

@keyframes bg-train {
    0% {
        transform: rotate(139deg) translateX(0);
    }
    50% {
        transform: rotate(139deg) translateX(-100px);
    }
    100% {
        transform: rotate(139deg) translateX(-200px);
    }
}
@keyframes bg-train2 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 0;
    }
}

.train{
display: flex;
justify-content: center;
gap: 5px;
  margin-block: 10px;
}


.train-text{

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.row-train {
    color: #fff;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 20px;
    overflow: hidden;
    background: #0a8d0a;
    width: 100%;

    /* animation: move-gradient 6s linear infinite; */
}

.row-train .images {
    position: relative;
    width: 104%;
    display: block;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.row-train .train button {
    color: #fff;
    background-color: var(--light-green);
    padding: 6px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: .5s;
}
.row-train .train button:hover {
    background-color: transparent;
    border-color: var(--light-green);
}

.row-train .tow-container {
    position: absolute;
    /* left: -100px; */
    left: 35%;
    bottom: 0;
    width: 440px;
    overflow: hidden;
    height: 200px;
}

.row-train .tow-container::after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 30px ;
    height: 60px;
    transform: rotate(16deg);
    background-color: #0a8d0a;

}
.row-train .tow-bars { /* قضبان القطر */
    width: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* animation: slide 4s linear infinite; */
}

.row-train .images .towing-station { /* محطة القطر */
    position: absolute;
    right: -100px;
    bottom: 35px;
    transform: translateX(70px);
    z-index: 0;
    /* animation: show-station 4s linear infinite; */
}

.row-train .images .train {
    position: relative;
    /* left: -122%; */
    left: 0%;
    bottom: 5px;
    z-index: 5;
}



@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50%, 70% {
        transform: translateX(-230px);
    }
    100% {
        transform: translateX(-400px);
    }
}

@keyframes show-station {
    0% {
        transform: translateX(0);
    }
    50%, 70% {
        transform: translateX(-280px);
    }
    100% {
        transform: translateX(-460px);
    }
}

.lamp-container {
    position: relative;
    display: inline-block;
}

.lamp {
    width: 300px;
    display: block;
}

.light {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 88%;
    right: 24%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: radial-gradient(circle, #fff7b1 0%, #ffeb3b 40%, transparent 70%);
    border-radius: 50%;
    opacity: 0;
    animation: glowPulse 1.5s ease-in-out infinite;
}

@keyframes glowPulse {
    0%, 100% {
        opacity: 0;
        filter: brightness(1);
    }
    50% {
        opacity: 1;
        filter: brightness(2);
    }
}


/*! ************************ Cards ************************ */
.cards .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.cards .col-card:nth-child(1) .card {
    background-color: var(--dark-red);
}
.cards .col-card:nth-child(2) .card {
    background-color: var(--dark-purple);
}
.cards .col-card:nth-child(3) .card {
    background-color: var(--dark-orange);
}
.cards .col-card:nth-child(4) .card {
    background-color: #1CB300;
}
.cards .card .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards .card .text span:last-child {
    font-size: 10px;
}
.cards .card .image {
    background-image: url("../assets/images/card-Bg-1.svg");
    background-size: cover;
}

/*! Sidebar */
.lisks-side-bar {
  overflow-y: auto;
  overflow-x: hidden;
}
.lisks-side-bar::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}
.lisks-side-bar::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
  display: none;
}
.lisks-side-bar.show-scroll::-webkit-scrollbar-thumb {
  display: block;
}
/* إخفاء الخلفية */
.lisks-side-bar::-webkit-scrollbar-track {
  background: transparent;
}
/* إخفاء الأسهم */
.lisks-side-bar::-webkit-scrollbar-button {
  display: none;
}


/*! Table */
/* Table-Head */
.table {
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.table .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table .head h3 {
  color: #606060;
}
.table .head form input {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}
.table .head form button {
    background-color: var(--light-green);
    color: var(--color-white);
}

/* Table-Contant */
.table-container {
  flex: 1;
  overflow: auto;
  padding: 20px;
}
.table-container table {
  width: 100%;
  min-width: 900px;
  /* table-layout: fixed; */
  border-collapse: collapse;
}
.table-container th,
.table-container td {
  border: 1px solid #ddd;
  /* padding: 10px; */
  text-align: center;
}
.table-container td {
  word-wrap: break-word;
  white-space: normal;
  border: none;
  min-width: 50px;
  max-width: 300px;
}
.table-container tr {
  border-bottom: 1px solid #ddd;
}

table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
table thead tr {
    background-color: rgb(14, 115, 0) !important;
    padding: 10px;
    color: var(--color-white) !important;
}
table tr td {
    padding: 10px 0;
    text-align: center;
    vertical-align: middle;
}
.table-container thead td {
  padding: 10px 0;
  font-size: 15px;
  }




.pending { /* قيد المراجعة */
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid var(--dark-purple);
    border-radius: 15px;
    background-color: var(--light-purple);
    color: var(--dark-purple);
}
.matched { /* تم التطابق */
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid var(--dark-orange);
    border-radius: 15px;
    background-color: var(--light-orange);
    color: var(--dark-orange);
}
.done { /* تم التسليم */
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #1CAE01;
    border-radius: 15px;
    background-color: #C7FFC5;
    color: #1CAE01;
}
.new { /* مفقود جديد */
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid var(--dark-red);
    border-radius: 15px;
    background-color: var(--light-red);
    color: var(--dark-red);
}

table tbody p,
table tbody span {
    word-break: break-all;
    font-size: 13px;
    display: block;
}
table tbody tr {
    border-color: #ddd !important;
    transition: .3s;
}
table tbody tr:hover {
    background-color: #ebebebd6;
}
table tbody tr td img {
    transition: .5s;
}
table tbody tr td {
    color: #606060;
}
table tbody tr td img:hover {
    transform: rotate(360deg);
}

.left-part-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*! ************************ Left-Part ************************ */
.left-part {
    /* padding: 20px; */
    overflow-y: auto;
    height: 100%;
    flex: 1;
}
.left-part .image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.left-part .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.left-part .info .image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left-part .info .icons img {
    width: 30px;
    height: 30px;
    background-color: var(--light-green);
    border-radius: 5px;
    padding: 5px;
}
.left-part .alerts .boxs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.left-part .alerts .box:not(:last-child) {
    border-bottom: 1px solid #EAEAEA;
    padding-block: 10px;
}

.left-part .alerts .box{

  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 5px;
  transition: .3s all;
  padding: 4px;
}


.left-part .alerts .box:hover{


      background-color: #ebebebd6;
}
.left-part .alerts .box .image img {
    width: 30px;
    height: 30px;
    background-color: #FFEDED;
    padding: 5px;
    border-radius: 5px;
}
.left-part .alerts .box .image .text h5 {
  font-size: 14px;
}
.left-part .alerts .box .image .text p {
    font-size: 10px;
      display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* عدد الأسطر المسموح بها */
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-part .alerts .box .time span {
    font-size: 8px;

      white-space: nowrap;
}

.left-part .register-today {
    background-color: var(--color-White);
    border: 1px solid #3bd13247;
    border-radius: 15px;
    margin-block: 20px;
    padding: 10px;
}
.left-part .register-today .body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.left-part.responsive .register-today .body {
  justify-content: space-evenly;
}
.left-part .register-today .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.left-part .register-today .head h5,
.left-part .register-today .body .item h5 {
  font-size: 14px;
}
.left-part .register-today .head p {
    color: var(--light-green);
    font-size: 10px;
  }
.left-part .register-today .body .item {
    border: 1px solid var(--light-green);
    border-radius: 10px;
    /* width: 150px;
    height: 100px; */
    padding: 20px 10px;
    background: linear-gradient(135deg, #8af08500, #b8f3c861);;
}
.left-part .register-today .body .item h4 {
  font-size: 20px;
}
.left-part .register-today .body .item .icon img {
    width: 20px;
}
.left-part .register-today .body button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #fff;
    background-color: var(--light-green);
}
.left-part .register-today .body button:hover {
  background-color: var(--color-White);
  color: var(--dark-green);
  border: 1px solid var(--dark-green);
}

/*! Responsive */
.left-part {
  transition: .5s;
}
.left-part.responsive {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999999;
  background-color: #F3F3F3;
  max-width: 400px;
  display: block;
  border: 1px solid green;
  border-radius: 10px;
  transition: .5s;
  padding: 20px 10px;
}


.left-part .alerts{

      padding: 10px;
      border-radius: 20px
}
.left-part.responsive .alerts {
  padding: 20px;
  margin: 20px 0;
  background-color: var(--color-white);
}
.left-part.responsive .close-icon {
  position: absolute;
  top: 10px;
  font-size: 25px;
  transition: .3s;
}
.left-part.responsive .close-icon:hover {
  color: var(--light-green);
}





.left-part .close-icon{
    
    display: none ;

}


.left-part.responsive .close-icon{
    display: block ;
}









.dropdown {
  position: relative;
}

#dropdownBtn {
    /* background: linear-gradient(135deg, var(--dark-green), var(--light-green)); */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 20px;
    transition: all 0.3s ease;
    background-color: var(--light-green);
}
#dropdownBtn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 8px #3bd132a6;
}
#dropdownBtn span {
  font-size: 10px;
}
.dropdown-list {
  position: absolute;
  top: 103%;
  right: 0;
  background: #fff;
  width: 200px;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  list-style: none;
  padding: 10px 0;
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 100;
  border: 1px solid var(--light-green);
}

.dropdown.active .dropdown-list {
  transform: scaleY(1);
  opacity: 1;
}

.dropdown-list li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-weight: 500;
  padding: 10px;
  transition: 0.3s;
}

.dropdown-list li a:hover {
  background-color: #f3f3f3;
  color: var(--light-green);
  padding-right: 20px;
}