/*! ************************ Aside ************************ */


.sub-title-text{

    color: #606060;
    font-size: 16px;
    font-weight: 600;
}

aside {
    background-color: var(--dark-green);
    width: 250px;
    /* height: 100vh; */
    position: fixed;
    /* top: 0;
    bottom: 0; */
    inset: 0;
    z-index: 9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    overflow: hidden;
}
aside ul.links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
aside ul.links li {
    cursor: pointer;
    display: flex;
    gap: 10px;
    transition: .5s;
}
aside ul.links li:not(:first-child) {
    opacity: .5;
}
aside ul.links li:hover {
    opacity: 1;
}
aside ul.links li.active {
    padding: 10px;
    background-color: var(--light-green);
    border-radius: 10px;
}
aside .sidebar-bottom .image img:first-child {
    padding-bottom: 30px;
}
aside .sidebar-bottom .image img:last-child {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 255px;
}


/*! ************************ Section Train ************************ */
.container.train {
    overflow: hidden;
    position: relative;
}
.container.train::before {
    content: "";
    width: 2000px;
    height: 20px;
    background-image: url("../assets/images/Frame.svg");
    background-position: 0 0;
    position: absolute;
    left: -103%;
    transform: rotate(139deg) translateX(0);
    animation: bg-train2 20s linear infinite;
}

@keyframes bg-train {
    0% {
        transform: rotate(139deg) translateX(0);
    }
    50% {
        transform: rotate(139deg) translateX(-100px);
    }
    100% {
        transform: rotate(139deg) translateX(-200px);
    }
}
@keyframes bg-train2 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 0;
    }
}

.row-train {
    color: #fff;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 20px;
    overflow: hidden;
    background: #0a8d0a;
    /* animation: move-gradient 6s linear infinite; */
}

.row-train .images {
    position: relative;
    width: 450px;
    display: block;
    height: 100%;
}

.row-train .train button {
    color: #fff;
    background-color: var(--light-green);
    padding: 6px 30px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: .5s;
}
.row-train .train button:hover {
    background-color: transparent;
    border-color: var(--light-green);
}

.row-train .tow-container {
    position: absolute;
    left: -100px;
    bottom: 0;
    width: 440px;
    overflow: hidden;
    height: 200px;
}

.row-train .tow-container::after{
    content: "";
    position: absolute;
    bottom: -10px;
    right: -20px;
    width: 30px ;
    height: 60px;
    transform: rotate(16deg);
    background-color: #0a8d0a;

}
.row-train .tow-bars { /* قضبان القطر */
    width: 200%;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: slide 4s linear infinite;
}

.row-train .images .towing-station { /* محطة القطر */
    position: absolute;
    right: -100px;
    bottom: 35px;
    transform: translateX(70px);
    z-index: 0;
    animation: show-station 4s linear infinite;
}

.row-train .images .train {
    position: absolute;
    left: -122%;
    bottom: 5px;
    z-index: 5;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50%, 70% {
        transform: translateX(-230px);
    }
    100% {
        transform: translateX(-400px);
    }
}

@keyframes show-station {
    0% {
        transform: translateX(0);
    }
    50%, 70% {
        transform: translateX(-280px);
    }
    100% {
        transform: translateX(-460px);
    }
}

.lamp-container {
    position: relative;
    display: inline-block;
}

.lamp {
    width: 300px;
    display: block;
}

.light {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 88%;
    right: 24%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: radial-gradient(circle, #fff7b1 0%, #ffeb3b 40%, transparent 70%);
    border-radius: 50%;
    opacity: 0;
    animation: glowPulse 1.5s ease-in-out infinite;
}

@keyframes glowPulse {
    0%, 100% {
        opacity: 0;
        filter: brightness(1);
    }
    50% {
        opacity: 1;
        filter: brightness(2);
    }
}

/*! ************************ Cards ************************ */
.cards .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.cards .col-lg-3:nth-child(1) .card {
    background-color: var(--dark-red);
}
.cards .col-lg-3:nth-child(2) .card {
    background-color: var(--dark-purple);
}
.cards .col-lg-3:nth-child(3) .card {
    background-color: var(--dark-orange);
}
.cards .col-lg-3:nth-child(4) .card {
    background-color: #1CB300;
}
.cards .card .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards .card .text span:last-child {
    font-size: 10px;
}
.cards .card .image {
    background-image: url("../assets/images/card-Bg-1.svg");
    background-size: cover;
}

/*! Table */
/* Table-Head */
.table {
    background-color: var(--color-White);
    border-radius: 20px;
    padding: 10px;
}
.table .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table .head form input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
}
.table .head form button {
    background-color: var(--light-green);
    color: var(--color-White);
}
/* Table-Contant */
table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
table thead tr {
    background-color: rgb(14, 115, 0) !important;
    padding: 10px;
    color: var(--color-White) !important;
}
table tr td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}
table tbody .status {
    padding: 2px 10px;
    border: 1px solid var(--dark-purple);
    border-radius: 15px;
    background-color: var(--light-purple);
    color: var(--dark-purple);
}
table tbody p,
table tbody span {
    word-break: break-all;
    font-size: 15px;
    display: block;
}
table tbody tr {
    border-color: #ddd !important;
    transition: .3s;
}
table tbody tr:hover {
    background-color: #ddddddd6;
}
table tbody tr td img {
    transition: .5s;
}
table tbody tr td {
    color: #606060;
}
table tbody tr td img:hover {
    transform: rotate(360deg);
}

/*! ************************ Left-Part ************************ */
/* .left-part {
    width: 280px;
} */
.left-part .image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.left-part .info {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.left-part .info .image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left-part .info .icons img {
    width: 30px;
    height: 30px;
    background-color: var(--light-green);
    border-radius: 5px;
    padding: 5px;
}
.left-part .alerts .boxs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.left-part .alerts .box:not(:last-child) {
    border-bottom: 1px solid #EAEAEA;
    padding-block: 10px;
}
.left-part .alerts .box .image img {
    width: 30px;
    height: 30px;
    background-color: #FFEDED;
    padding: 5px;
    border-radius: 5px;
}
.left-part .alerts .box .image .text p {
    font-size: 14px;
}
.left-part .alerts .box .time span {
    font-size: 12px;
}

.left-part .register-today {
    background-color: var(--color-White);
    border: 1px solid #3bd13247;
    border-radius: 15px;
    margin-block: 20px;
    padding: 15px;
}
.left-part .register-today .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-part .register-today .head h5 {
    font-weight: bold;
}
.left-part .register-today .head p {
    color: var(--light-green);
    font-weight: 500;
}
.left-part .register-today .body .item {
    border: 1px solid var(--light-green);
    border-radius: 10px;
    width: 150px;
    height: 100px;
    background: linear-gradient(135deg, #8af08500, #b8f3c861);;
}
.left-part .register-today .body .item .icon img {
    width: 20px;
}
.left-part .register-today .body button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    background-color: var(--light-green);
}

